<div class="container">
  <div [hidden]="message.length !== 0" class="card card-register mx-auto mt-5">
    <div class="card-header">Forgot Password</div>
    <div class="card-body">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)">
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input class="form-control" id="inputEmail" type="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" email="true">
          <small class="msg-error">
            <div class="form-control-feedback" *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched">
              <div [hidden]="!forgotPasswordForm.get('email').hasError('required')">E-mail is required</div>
              <div [hidden]="forgotPasswordForm.get('email').valid">E-mail format is invalid!</div>
            </div>
          </small>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgotPasswordForm.valid">Submit</button>
      </form>
    </div>
  </div>
  <div [hidden]="message.length === 0">
    <div class="card card-register mx-auto mt-9">
      <div class="card-header">The email has been sended!</div>
      <div class="card-body text-center">
        <h3>{{message}}</h3>
      </div>
    </div>
  </div>
</div>
