<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Reset Password Account</div>
    <div class="card-body">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <label for="inputPassword">Password</label>
              <input class="form-control" id="inputPassword" formControlName="password" type="password" placeholder="Password">
              <small class="msg-error">
                <div class="form-control-feedback" *ngIf="!resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched">
                  <div [hidden]="!resetPasswordForm.get('password').hasError('required')">Password is required</div>
                  <div [hidden]="!resetPasswordForm.get('password').hasError('minLength') || !resetPasswordForm.get('password').hasError('maxLength')">
                    This Password is invalid!
                  </div>
                </div>
              </small>
            </div>
            <div class="col-md-6">
              <label for="inputConfirmPassword">Confirm password</label>
              <input class="form-control" id="inputConfirmPassword" formControlName="confirmPassword"
                type="password" placeholder="Confirm password">
                <small class="msg-error">
                  <div class="form-control-feedback" *ngIf="resetPasswordForm.get('confirmPassword').touched">
                    <div [hidden]="!resetPasswordForm.get('confirmPassword').hasError('matchFields')">
                      Passwords did not match
                    </div>
                  </div>
                </small>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
    </div>
  </div>
</div>
