.profile-img{
  margin-right: 5px;
  float: left;
  background: 50% 50% no-repeat; /* 50% 50% centers image in div */
  background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
